<div class="columns is-centered mt-6">
  <div class="column is-6">
    <section class="hero is-primary">
      <div class="hero-body">
        <p data-id={{post.id}} id="postTitle" class="title has-text-centered">
          {{post.title}}
        </p>
        <p class="subtitle has-text-centered">
          <small>by {{post.user.username}}</small>
          <small>@</small>
          <small>{{post.createdAt}}</small>
        </p>
      </div>
    </section>
    <section class="section">
      <h2 class="subtitle">
        {{post.content}}
      </h2>
    </section>

  </div>
  <div class="column is-4">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <textarea
            class="textarea"
            id="commentBody"
            placeholder="Leave a Comment"
            rows="3"
          ></textarea>
          <button id="opinionBtn" class="button">Leave Comment</button>
          <div>
            {{#if post.comments}}
              {{#each post.comments}}
                <div class="content">
                  <p>
                    {{content}}
                  </p>
                </div>
              {{/each}}
            {{/if}}
          </div>
        </div>
      </article>
    </div>
  </div>
</div>

<script src="/js/comments.js"></script>